<div id="content">
    <span><%_errormessage%></span><br/>
    <img src="images/error.png" /><br/>
    <button class="clickable button" onclick="doom.eventAgg.trigger('error:gohome')" ><%_errorbutton%></button>
</div>