<div id="topbar"><%_headerstart%><span class="red"><%_headermid%></span> <i><%_headerend%></i>
</div>
<div id="loading" style="display: none"><span><%_waiting%></span><br/> <img
        src="images/spinner.gif" style="width:100px; height:100px;padding-left: 80px"/></div>