<div id="content">
<button class="clickable buttonsmall" onclick="setLanguage('en')" value="en" >EN</button>
<button class="clickable buttonsmall" onclick="setLanguage('ru')" value="ru" >RU</button>
<br/>
    <div id="maininput">
        {{#if this.inputerror}}
        <span class="error"><%_inputerror%></span>
        {{/if}}
        <p><label><%_name%></label><input type="text" id="summonerName" value="{{prename}}" name="summonerName" /></p>
        <p><label><%_region%> </label><input type="text" id="region" value="{{preregion}}" name="region" /></p>
        <p><input type="checkbox" id="rememberme" ><%_remember%></p>
        <button class="clickable button" onclick="eventAgg.trigger('input:getTeam')" value="Match me with retards!" ><%_inputbutton%></button>
    </div>
    <div id="endorse">
        <span>This software  isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</span>
    </div>
</div>