#topbar {
    background: #c0c0c0;
    padding: 5px 10px;
    width: 480px;
}

#endorse {
    width: 400px;
    text-align: justify;
    margin-top: 10px;
}

.red {
    color: red;
}

.button {
    background: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button:hover {
    border: 2px solid red;
    color: red;
}

.buttonsmall {
    background: #000;
    border: 2px solid #000;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.buttonsmall:hover {
    border: 2px solid red;
    color: red;
}

.hidden {
    display: none;
}

#content {
    padding: 20px;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

h1 {
    font-size: 18pt;
    /*color:rgb(130,130,130);*/
}

h2 {
    font-size: 16pt;
    display: block;
}

h3 {
    font-size: 14pt;
}

input[type="text"] {
    padding: 5px 10px;
    background: #ddd;
    font-style: italic;
    border: 1px solid #c0c0c0;
    outline: 0;
}

#maininput {
    padding: 10px 10px;
    margin-top: 20px;
    border: 1px solid #c0c0c0;
    display: inline-block;
}

#maininput p {
    margin-bottom: 10px;
}

#maininput p label {
    width: 200px;
    display: inline-block;
}

iframe#data {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

#currentjson {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height: 100px
}

/*.judge {*/
    /*margin-top: 0px;*/
    /*padding: 20px;*/
    /*background: rgb(255, 86, 86);*/
    /*color:white;*/
    /*width: 600px;*/
/*}*/

button {
    background: none;
    padding-left: 5px;
    border: none;
}

.showhide{
    height: 15px;
    width: 15px;
}

.error{
    color:orangered;
    font-weight: bold;
}

table {
    margin-bottom: 20px;
}

table thead {
    background: #c0c0c0;
}

table thead td {
    font-weight: bold;
}

table tr td {
    padding: 5px 10px;
    border-bottom: 1px solid #c0c0c0;
}
#players table tr td:nth-child(3) { border-left: 1px solid #c0c0c0; }
#players table tr td:nth-child(5) { border-right: 1px solid #c0c0c0; }
#players table tr td:nth-child(8) { border-right: 1px solid #c0c0c0; }
#players table tr.data td:not(:nth-child(1)) { text-align: center; }
#loading{
    position:absolute;
    top: 100px;
    left: 100px;

}
#judge { padding: 10px 15px; margin-bottom: 20px; width: 448px; display: inline-block; }
